/* Reset browser styles */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

footer {
  font-weight: 100;
  margin-top: auto;
  padding-bottom: 100px;
}

/* Main layout */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  padding-top: 5rem;
  background-color: #f7f8fa;
  min-height: 100vh;
}

p.header {
  margin-bottom: 4rem;
}

.contract-action {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #ffd900;
  padding: 5px 15px;
  user-select: none;
  border-radius: 20px;
  color: black;
}

.contract-action:hover {
  background-color: #e6c300;
}

.walletAddressContainer {
  min-height: 2rem;
  max-height: 2rem;
  margin-bottom: 1rem;
}

.walletAddressContainer > span {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #e5e6e7;
  padding: 5px 15px;
  margin: 7.25px 0;
  user-select: none;
  border-radius: 20px;
  color: black;
}

.walletAddressContainer > span:hover {
  background-color: #d0d7e1;
  cursor: pointer;
}

h1 {
  font-size: 2rem;
  color: #1c1e21;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  color: #1c1e21;
  line-height: 1.5;
  text-align: center;
  max-width: 600px;
}

button {
  background-color: #2172e5;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 12px 24px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #1956bc;
}

.function-type-container > p {
  font-weight: 100;
  font-size: 1.5rem;
  /* user-select: none; */
  margin-bottom: 1rem;
}

.abiButton {
  border: 1px solid #d1d5db;
  background-color: white;
  color: black;
  border-radius: 8px;
  padding: 11px;
  height: 43.5px;
  font-size: 1rem;
  outline: none;
  margin-top: 8px;
}

.abiButton:hover {
  background-color: #d1d5db;
}

input.main,
select.main {
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 8px;
  font-size: 1.3rem;
  outline: none;
  margin-top: 8px;
}

input.main {
  width: 45%;
}
input.modalinput {
  width: -webkit-fill-available;
}
select.main {
  width: 30%;
}

h3 {
  font-size: 1.5rem;
  color: #1c1e21;
  margin-bottom: 0.5rem;
}

img.link {
  height: 20px;
  margin-right: 7px;
  cursor: pointer;
}

img.svg {
  height: 17px;
}

img.contract-link {
  height: 30px;
  margin-right: 7px;
  cursor: pointer;
  padding: 10px;
  border-radius: 25px;
  /* background-color: #eff1f5; */
  box-shadow: rgba(33, 35, 38, 0.1) 0px 5px 10px 0px;
}

img.contract-link:hover {
  background-color: #d1d5db64;
}

p.function-title {
  color: #1c1e21;
  border-radius: 15px;
  padding: 3px 10px;
  font-size: 0.8rem;
  margin: 0;
  font-weight: 500;
  word-break: break-all;
  width: fit-content;
}

div.function-title {
  min-width: 20%;
  max-width: 20%;
  word-wrap: break-word;
  display: flex;
}

h4.status {
  color: red;
  font-size: 0.8rem;
  text-align: center;
  max-width: 80%;
  word-wrap: break-word;
  margin-top: 1rem;
  z-index: 1;
  margin-bottom: 1rem;
  animation: fadeOut 9s forwards;
  min-height: 20px;
}
p.status {
  color: red;
}

a {
  color: #2172e5;
  text-decoration: none;
}

@keyframes fadeOut {
  0%,
  66.67% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Align elements horizontally */
.row,
.contract-name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  column-gap: 10px;
  width: 80%;
}

.contract-name-container {
  margin-top: 0;
}

.function-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 10px;
  width: 100%;
}
.function-type-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 10px;
  width: 100%;
}

.function-type-container {
  width: 40%;
}

.contract {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
  width: 100%;
}

.function-inputs {
  min-width: 40%;
  max-width: 40%;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.interact-input {
  width: 100%;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 12px 8px;
  font-size: 0.9rem;
  outline: none;
  box-sizing: border-box;
}

.interact-button {
  min-width: 15%;
  max-width: 15%;
}
.function-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 14px 10px;
  border-radius: 10px;
  background-color: #eff1f5;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

/* .function-container:hover {
  background-color: #e0e4eb;
} */

.read {
  background-color: #c2ded1;
}

.write {
  background-color: #f4bfbf;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  min-height: 370px;
}

.json-input-modal {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.json-textarea {
  width: 100%;
  height: 300px;
  resize: none;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 8px;
  font-size: 1rem;
  outline: none;
}

.func-result {
  min-height: 3.6rem;
}

.contract-name,
.contract-name-no-hover {
  /* background-color: #eff1f5; */
  padding: 13px 29px;
  font-weight: 100;
  font-size: 1.3rem;
  user-select: none;
  border-radius: 25px;
  cursor: pointer;
  margin-bottom: 1rem;
}
.contract-detail {
  background-color: #eff1f5;
  padding: 5px 15px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.contract-name:hover {
  background-color: #d1d5db64;
}

.selected-name {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 5px 10px 0px;
}

.func-result > p {
  word-break: break-all;
  font-weight: 100;
}

.results-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.result-item {
  padding: 5px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.result-item:hover {
  background-color: #f0f0f0;
}

@media screen and (max-width: 767px) {
  main {
    padding-top: 2rem;
  }

  input.main,
  select.main {
    width: 100%;
    box-sizing: border-box;
  }
  .function-container,
  .contract {
    width: 90%;
  }
  .function-row {
    gap: 10px;
  }

  .function-inputs {
    min-width: 100%;
    max-width: 100%;
  }

  .interact-button {
    min-width: 100%;
    max-width: 100%;
  }

  div.function-title {
    min-width: 100%;
    max-width: 100%;
  }

  .json-input-modal {
    width: 90%;
  }

  .modal {
    width: 90%;
  }

  .function-type-container {
    width: 90%;
  }

  /* Make rows become columns */
  .row,
  .contract-name-container,
  .function-type-row {
    flex-direction: column;
    align-content: center;
    gap: 15px;
  }

  .contract-name {
    margin-bottom: 0.4rem;
  }

  /* Make modals gain full width */
  .modal-overlay {
    width: 100%;
    height: 100%;
  }

  .modal {
    width: 90%;
    border-radius: 0;
  }
}
