/* Reset browser styles */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* Main layout */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  padding-top: 10rem;
  background-color: #f7f8fa;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  color: #1c1e21;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  color: #1c1e21;
  line-height: 1.5;
  text-align: center;
  max-width: 600px;
}

button {
  background-color: #2172e5;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 12px 24px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #1956bc;
}

.abiButton {
  border: 1px solid #d1d5db;
  background-color: white;
  color: black;
  border-radius: 8px;
  padding: 11px;
  height: 43.5px;
  font-size: 1rem;
  outline: none;
  margin-top: 8px;
}

.abiButton:hover {
  background-color: #d1d5db;
}

input.main,
select.main {
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 8px;
  font-size: 1.3rem;
  outline: none;
  margin-top: 8px;
}

input.main {
  width: 60%;
}
input.modalinput {
  width: -webkit-fill-available;
}
select.main {
  width: 30%;
}

h3 {
  font-size: 1.5rem;
  color: #1c1e21;
  margin-bottom: 0.5rem;
}

h4.function-title {
  max-width: 15%;
  min-width: 15%;
  margin-bottom: 0.5rem;
  color: #1c1e21;
  margin-top: 1rem;
  font-size: 0.8rem;
}

h4.status {
  color: red;
  font-size: 0.8rem;
  text-align: center;
  max-width: 80%;
  word-wrap: break-word;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  28.57% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Align elements horizontally */
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 3rem;
  column-gap: 10px;
  width: 80%;
}

.function-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 10px;
  width: 100%;
}

.contract {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #f7f8fa;
  min-height: 100vh;
  width: 50%;
}

.function-inputs {
  min-width: 40%;
  max-width: 40%;

  display: flex;
  flex-direction: column;
}

.interact-input > input {
  width: 100%;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 8px;
  font-size: 0.9rem;
  outline: none;
  margin-top: 8px;
}

.function-interact-button {
  min-width: 15%;
  max-width: 15%;
}
.center-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  min-height: 370px;
}

.results-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.result-item {
  padding: 5px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.result-item:hover {
  background-color: #f0f0f0;
}

.json-input-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.json-textarea {
  width: 100%;
  height: 200px;
  resize: none;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 8px;
  font-size: 1rem;
  outline: none;
}
